Source: seminarix-handbook
Section: doc
Priority: extra
Maintainer: Horst Tritremmel <hjt@sidux.com>
Uploaders: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2
Vcs-Svn: svn://svn.berlios.de/fullstory/seminarix-handbook/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/seminarix-handbook/trunk/

Package: seminarix-handbook
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: sidux seminarix handbook for teachers
 Make things easier for teachers
