#!/usr/bin/make -f

%:
	dh $@

build:
	dh build --until auto_build
	convert -resize 32x32 lib/images/logos/siduxedu.png siduxedu.xpm
	convert -resize 16x16 lib/images/logos/siduxedu.png siduxedu-16.xpm
	dh build --remaining

clean:
	dh clean --before clean
	rm -f	siduxedu.xpm \
		siduxedu-16.xpm
	dh clean --remaining

