#!/usr/bin/make -f

%:
	dh $@

build:
	dh build --until auto_build
	convert -resize 32x32 lib/logos/siduxedu.png siduxeduhand.xpm
	convert -resize 16x16 lib/logos/siduxedu.png siduxeduhand-16.xpm
	dh build --remaining

clean:
	dh clean --before clean
	rm -f	siduxeduhand.xpm \
		siduxeduhand-16.xpm
	dh clean --remaining

