
/* Datei: seminarix.css */

/* Autor Hendrik Lehmbruch
mail: hlehmbruch (at) gmx (dot) net 
*/


body {
    background-color : #FFFEF5;
    color : inherit;
    font-family : sans-serif;
    height : 100%;
    margin : 0;
    padding : 0;
  }

/* --- bild positioniert als hintergrund --- */

div.bgimg {
    background-color : #FFFEF5;
    color : inherit;
    float : right;
    padding-right : 13px;
    padding-top : 13px;
  }

/* ----- html konform bleiben ------ */

html {
    height:100%;
  }

/* ---- seitenbox --- In diesem sind alle anderen boxen eingebunden --- */

div.seite {
    height: 100%;
    max-width : 1024px;
    margin: 0 auto;
  }
  
div.seite a:hover {
    color: #FFFF00;
    background: #EE38FF;
    text-decoration: none;
    border: 0;
  }
  
div.seite a:link,a:visited,a:active {
    text-decoration: none;
    color: blue;
    background-color: inherit;
    border: 0;
    font-weight : bold;
  }

/* --- ueberschriften formatierungen --- */

h1,h2,h3,h4,h5 {
    color: #8a8d9a;
    background-color: inherit;
    margin-top : -0.3em;
  }

/* --- textformatierungen --- */

/* schrift italic und farbe */

div.italicred {
    background-color : inherit;
    color : #cc0033;
    font-style : italic;
  }

div.logotext {
    font-size : 0.8em;
  }

/* text mittig */

div.center {
    text-align : center;
    margin-top : 1em;
  }
  

/* inlinetext rot cursiv*/

span.italicred {
    background-color : inherit;
    color : #cc0033;
    font-style : italic;
  }

/* text fett */

span.bold {
    font-weight : bold;
  }

/* text fett rot */

span.boldred {
    font-weight : bold;
    color : red;
    background-color : inherit;
  }

/* text fett blau */

span.boldblue {
    font-weight : bold;
    color : blue;
    background-color : inherit;
  }

/* text auf eine bestimmte breite begrenzen*/

div.intro {
    width : 527px;
  }

/* den Bildern den Rahmen nehmen */

img {
    border : none;
  }

/* --- formatierung linkhinweise --- */

a:link,a:visited,a:active {
    text-decoration: none;
    color: blue;
    background-color: inherit;
    border: 0;
    font-weight : bold;
  }

/* verry colorfull */

a:hover {
    color: #FFFF00;
    background: #EE38FF;
    text-decoration: none;
    border: 0;
  }

/* infolink schraeg gestellt */

a.info {
    font-style:italic;
  }

/* --- kopfzeile / header --- */

div.kopfzeile {
    background-color : #DFDBC3;
    color : inherit;
    clear: both;
    width : 100%;
  }

/* Logobox linke seite */

div.kopflogo {
    text-align : left;
    max-width : 7em; /*95px;*/
    background-color : inherit;
    color : inherit;
    padding-left : 6em; /* 25px*/
    padding-top : 1em; /* 25px*/
    float : left;
    border: 0;
  }

/* mittelbox in der Kopfzeile */

div.kopfmitte {
    text-align : center;
    padding-top : 0.3em; /*1px*/
    max-width : 55em;
    margin : 0 auto;
  }

/* --- ende Kopfzeile / end header --- */

/* --- Fusszeile / fooder --- */

div.Fusszeile {
    clear: both;
    margin: 0 auto;
    padding: 0.3em;
   /* background-color: #DFDBC3;*/
   /* color : inherit; */
    border: 1px solid silver;
  }

/* --- ende Fusszeile --- */

/* --- navigations box, linke seite / main navigation box --- */

div.hauptnavigation {
 
    font-weight: bold;
    text-align: left;
    float: left;
    position: absolute;
    max-width: 12em;
    padding-left : 4em;
    padding-top: 6em;
    background-color: inherit;
    color: inherit;
  }


div.hauptnavigation a:link,a:visited,a:active {
    text-decoration: none;
    color: #003399;
    background-color: inherit;
    border: 0;
  }


div.hauptnavigation a:hover {
    color: #FFFF00;
    background: #EE38FF;
    text-decoration: none;
    border: 0;
  }


div.hauptnavigation h3,h5 {
    color: #000000;
    background-color: inherit;
    border-style: none;
  }

div.hauptnavigation ul {
    list-style : none;
    font-weight : bold;
  }

/* --- ende navigations box, linke seite --- */

/* --- textbox / main textbox--- */

div.text {
    margin : 0 0 0 12.1em; /*0 0 0 180px*/
    padding : 4em;
    position: absolute;
    background-color : inherit;
    color: inherit;
    font-family: sans-serif;
    max-width : 700px;
    float : right;
  }


div.text #italicred {
    font-style:italic;
    font-weight:bold;
    color:red;
    background-color:inherit;
  }


div.text h1,h2,h3,h4 {
    text-align : center;
  }

/* schrift bold in dt */

div.text dt {
    font-weight : bold;
  }

div.text dd {
    margin-left : 6em; /*100px*/
  }

div.text p {
    margin-top : -0.4em; 
   }
   
div.text a:hover {
    color: #FFFF00;
    background: #EE38FF;
    text-decoration: none;
    border: 0;
  }

/* schrift bold in dd */

dd.bold {
    font-weight:bold;
  }

/* schrift italic und farbe in dd */

dd.italicgrey {
    background-color : inherit;
    color : #8a8d9a;
    font-style : italic;
  }

/* --- ende textbox --- */

/* ende seminarix.css */