[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=x-www-browser /usr/share/seminarix-handbook/index.html
Icon=siduxedu
Name=seminarix manual
Name[de]=Seminarix Handbuch
Name[en]=Seminarix Manual
Categories=Utility;Documentation;
