<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  
  

  
  <!-- Custom match templates go here -->


  

  <head>
    <title>
      /seminarix-handbook/trunk/menu/seminarix-handbook.desktop –
      sidux edu stuff – Trac
    </title>
        <link rel="search" href="/projects/edu/search" />
        <link rel="help" href="/projects/edu/wiki/TracGuide" />
        <link rel="alternate" href="/projects/edu/export/674/seminarix-handbook/trunk/menu/seminarix-handbook.desktop" type="text/plain" title="Original Format" />
        <link rel="up" href="/projects/edu/browser/seminarix-handbook/trunk/menu?rev=674" title="Parent directory" />
        <link rel="start" href="/projects/edu/wiki" />
        <link rel="stylesheet" href="/projects/edu/chrome/common/css/trac.css" type="text/css" /><link rel="stylesheet" href="/projects/edu/chrome/common/css/code.css" type="text/css" /><link rel="stylesheet" href="/projects/edu/chrome/common/css/browser.css" type="text/css" />
        <link rel="shortcut icon" href="/projects/edu/chrome/common/trac.ico" type="image/x-icon" />
        <link rel="icon" href="/projects/edu/chrome/common/trac.ico" type="image/x-icon" />
      <link type="application/opensearchdescription+xml" rel="search" href="/projects/edu/search/opensearch" title="Search sidux edu stuff" />
    <script type="text/javascript" src="/projects/edu/chrome/common/js/jquery.js"></script><script type="text/javascript" src="/projects/edu/chrome/common/js/trac.js"></script><script type="text/javascript" src="/projects/edu/chrome/common/js/search.js"></script>
    <!--[if lt IE 7]>
    <script type="text/javascript" src="/projects/edu/chrome/common/js/ie_pre7_hacks.js"></script>
    <![endif]-->
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $("#jumploc input").hide();
        $("#jumploc select").change(function () {
          this.parentNode.parentNode.submit();
        })
      });
    </script>
  </head>
  <body>
    <div id="banner">
      <div id="header">
        <a id="logo" href="https://noc.sidux.com/projects/edu"><img src="/projects/edu/chrome/site/logo.png" alt="" /></a>
      </div>
      <form id="search" action="/projects/edu/search" method="get" name="quicksearch">
        <div>
          <label for="proj-search">Search:</label>
          <input type="text" id="proj-search" name="q" size="18" value="" />
          <input type="submit" value="Search" />
        </div>
      </form>
      <div id="metanav" class="nav">
    <ul>
      <li class="first"><a href="/projects/edu/login">Login</a></li><li><a href="/projects/edu/prefs">Preferences</a></li><li><a href="/projects/edu/wiki/TracGuide">Help/Guide</a></li><li><a href="/projects/edu/about">About Trac</a></li><li class="last"><a href="/projects/edu/register">Register</a></li>
    </ul>
  </div>
    </div>
    <div id="mainnav" class="nav">
    <ul>
      <li class="first"><a href="/projects/edu/wiki">Wiki</a></li><li><a href="/projects/edu/timeline">Timeline</a></li><li><a href="/projects/edu/roadmap">Roadmap</a></li><li class="active"><a href="/projects/edu/browser">Browse Source</a></li><li><a href="/projects/edu/report">View Tickets</a></li><li class="last"><a href="/projects/edu/search">Search</a></li>
    </ul>
  </div>
    <div id="main">
      <div id="ctxtnav" class="nav">
        <h2>Context Navigation</h2>
          <ul>
            <li class="first "><a href="/projects/edu/changeset/674/seminarix-handbook/trunk/menu/seminarix-handbook.desktop">Last Change</a></li><li><a href="/projects/edu/browser/seminarix-handbook/trunk/menu/seminarix-handbook.desktop?annotate=blame&amp;rev=674" title="Annotate each line with the last changed revision (this can be time consuming...)">Annotate</a></li><li class="last"><a href="/projects/edu/log/seminarix-handbook/trunk/menu/seminarix-handbook.desktop?rev=674">Revision Log</a></li>
          </ul>
        <hr />
      </div>
    <div id="content" class="browser">
      <h1>
        <a class="first" title="Go to root directory" href="/projects/edu/browser?rev=674">root</a>
        <span class="sep">/</span>
        <a title="View seminarix-handbook" href="/projects/edu/browser/seminarix-handbook?rev=674">seminarix-handbook</a>
        <span class="sep">/</span>
        <a title="View trunk" href="/projects/edu/browser/seminarix-handbook/trunk?rev=674">trunk</a>
        <span class="sep">/</span>
        <a title="View menu" href="/projects/edu/browser/seminarix-handbook/trunk/menu?rev=674">menu</a>
        <span class="sep">/</span>
        <a title="View seminarix-handbook.desktop" href="/projects/edu/browser/seminarix-handbook/trunk/menu/seminarix-handbook.desktop?rev=674">seminarix-handbook.desktop</a>
    <span class="sep">@</span>
      <a href="/projects/edu/changeset/674" title="View changeset 674">674</a>
  </h1>
      <div id="jumprev">
        <form action="" method="get">
          <div>
            <label for="rev" title="Hint: clear the field to view latest revision">
              View revision:</label>
            <input type="text" id="rev" name="rev" value="674" size="6" />
          </div>
        </form>
      </div>
      <table id="info" summary="Revision info">
        <tr>
          <th scope="col">
            Revision <a href="/projects/edu/changeset/674">674</a>, <span title="232 bytes">232 bytes</span>
            (checked in by cobra, <a class="timeline" href="/projects/edu/timeline?from=2008-05-04T09%3A08%3A00Z%2B0000&amp;precision=second" title="2008-05-04T09:08:00Z+0000 in Timeline">2 days</a> ago)
          </th>
        </tr>
        <tr>
          <td class="message searchable">
              <p>
added generic name descriptions <br />
</p>
          </td>
        </tr>
      </table>
      <div id="preview" class="searchable">
    <table class="code"><thead><tr><th class="lineno" title="Line numbers">Line</th><th class="content"> </th></tr></thead><tbody><tr><th id="L1"><a href="#L1">1</a></th><td>[Desktop Entry]</td></tr><tr><th id="L2"><a href="#L2">2</a></th><td>Encoding=UTF-8</td></tr><tr><th id="L3"><a href="#L3">3</a></th><td>Type=Application</td></tr><tr><th id="L4"><a href="#L4">4</a></th><td>Exec=x-www-browser /usr/share/seminarix-handbook/index.html</td></tr><tr><th id="L5"><a href="#L5">5</a></th><td>Icon=siduxedu</td></tr><tr><th id="L6"><a href="#L6">6</a></th><td>Name=seminarix manual</td></tr><tr><th id="L7"><a href="#L7">7</a></th><td>Name[de]=Seminarix Handbuch</td></tr><tr><th id="L8"><a href="#L8">8</a></th><td>Name[en]=Seminarix Manual</td></tr><tr><th id="L9"><a href="#L9">9</a></th><td>Categories=Utility;Documentation;</td></tr></tbody></table>
      </div>
      <div id="help">
        <strong>Note:</strong> See <a href="/projects/edu/wiki/TracBrowser">TracBrowser</a>
        for help on using the browser.
      </div>
      <div id="anydiff">
        <form action="/projects/edu/diff" method="get">
          <div class="buttons">
            <input type="hidden" name="new_path" value="/seminarix-handbook/trunk/menu/seminarix-handbook.desktop" />
            <input type="hidden" name="old_path" value="/seminarix-handbook/trunk/menu/seminarix-handbook.desktop" />
            <input type="hidden" name="new_rev" value="674" />
            <input type="hidden" name="old_rev" value="674" />
            <input type="submit" value="View changes..." title="Select paths and revs for Diff" />
          </div>
        </form>
      </div>
    </div>
    <div id="altlinks">
      <h3>Download in other formats:</h3>
      <ul>
        <li class="last first">
          <a rel="nofollow" href="/projects/edu/export/674/seminarix-handbook/trunk/menu/seminarix-handbook.desktop">Original Format</a>
        </li>
      </ul>
    </div>
    </div>
    <div id="footer" lang="en" xml:lang="en"><hr />
      <a id="tracpowered" href="http://trac.edgewall.org/"><img src="/projects/edu/chrome/common/trac_logo_mini.png" height="30" width="107" alt="Trac Powered" /></a>
      <p class="left">
        Powered by <a href="/projects/edu/about"><strong>Trac 0.12dev-r7021</strong></a><br />
        By <a href="http://www.edgewall.org/">Edgewall Software</a>.
      </p>
      <p class="right">Visit the sidux open source project at<br /><a href="http://sidux.com/">http://sidux.com/</a></p>
    </div>
  </body>
</html>