[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=x-www-browser /usr/share/seminarix-handbook/de/index.html
Icon=seminarix-handbook

Name=seminarix manual
Name[de]=Seminarix Handbuch

Categories=sidux
